/*LOGO*/

#logo{
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: #000;
}

/*MENU*/

.navbar-collapse {
    justify-content: center;
    font-size: 25px;
}


/*BANNER*/

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: #000;
    border-radius: 50px;
    line-height: 5em;
    margin-top: 2em;
    color: white;
}
  
  h1 {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #86ADDF, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 4s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }

/*CARDS*/

#cards{
    display: flex;
    height: 50vh;
    justify-content: space-around;
}

.card{
    width: 25%;
    height: 40vh;
    margin: 2em;
    background-color: #86ADDF;
    border-radius: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.card img{
    width: 100px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    transition: all 300ms;
}

.card:hover{
    background-color: black;
}

.card:hover img{
    animation: showIcon 300ms linear;
}

@keyframes showIcon{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}

.card .category{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color:white;
}

.card:hover .category{
    color: #86ADDF;
    font-size: 30px;
    animation: category 300ms linear;
}

@keyframes category{
    from{
        transform: translateY(-300%);
        color: black;
        font-size: 20px;
    }
    to{
        transform: translateY(0%);
        color: white;
        font-size: 30px;
    }
}

.card .description{
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: white;
    transition: all 300ms;
}

.card:hover .description{
    color: white;
    animation: description 300ms linear; 
}

@keyframes description{
    from{
        transform: translateX(-300%);
    }
    to{
        transform: translateX(0%);
    }
}

/*VIDEOS*/

#videos{
    display: flex;
    justify-content: space-around;
}


/*FOOTER*/

#footer{
    font-family: monospace;
    height: 5em;
    line-height: 5em;
    text-align: center;
    margin-top: 2em;
    color: white;
    background-color: #000;
}
