.flex_container, .flex_container2{
    background-color: lightgreen;
    display: flex;
    margin: 10px;
    height: 150px;
    align-items: flex-end; 
}

.flex_container{
    justify-content: space-between;
}

.flex_container2{
    flex-direction: row-reverse;
    justify-content: space-around;
}

.caja{
    background-color: red;
    margin: 0 auto;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
}